<!DOCTYPE html>
<html lang="en">
    <head>
            <script
            src="http://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
        <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <h1> 안녕하세요. 여기서 글자를 세세요! </h1>

        <a href="{%url 'about' %}"> ABOUT </a>
        <form action="{% url 'result'%}">
            <textarea class="form-control" cols="40" rows="10" name="fulltext"></textarea>  
            <br>
            <input type="submit" value="Count!" class="btn btn-success">
        </form>
    </div>
    </body>
</html>